{% extends "base.html" %}
    {% block upload %}
        <h2>Upload your CSV file</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    {% endblock %}
    {% block body %}
        <ol class="list-group list-group-numbered">
        {% for product in products %}
            <li class="list-group-item">{{ product }}</li>
        {% endfor %}
        </ol>
    {% endblock %}